<div class="invoice">
  <div class="row">
    <div class="col-md-6">
      <div class="logo">
        Image
      </div>
    </div>
    <div class="col-md-6">
      <div class="well info">
        <div class="row">
          <div class="col-md-6">
            <strong>Invoice #</strong>
            <span class="number">{{invoice_number}}</span>
          </div>
          <div class="col-md-6">
            <strong>Date:</strong>
            <span class="date">{{moment issued}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <address class="company">
        <strong>{{issuer.name}}</strong><br/>
        {{issuer.address}}<br/>
        {{issuer.city}}, {{issuer.postalCode}}
      </address>
    </div>
    <div class="col-md-6">
      <address class="customer">
        <strong>{{customer.name}}</strong><br/>
        {{customer.address}}<br/>
        {{customer.city}}, {{customer.postalCode}}
      </address>
    </div>
  </div>
  <table class="items table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {{#each item in items}}
        <tr class="item">
          <td><button class="btn btn-danger btn-xs btn-remove-item" {{action 'removeItem' item}}>X</button></td>
          <td>{{item.description}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.price}}</td>
        </tr>
      {{/each}}
      <tr>
        <td colspan="4"><button class='btn btn-success btn-xs btn-add-item'{{action 'addItem'}}>Add Item</button></td>
      </tr>
      <tr>
        <td class="total" colspan="3">Sub Total</td>
        <td>{{sub_total}}</td>
      </tr>
      <tr>
        <td class="total" colspan="3">Tax Total({{tax}}%)</td>
        <td>{{tax_total}}</td>
      </tr>
      <tr>
        <td class="total" colspan="3">Total</td>
        <td>{{total}}</td>
      </tr>
    </tbody>
  </table>
</div>
