<div class="invoice">
  <div class="row">
    <div class="col-md-6">
      <div class="logo">
        Image
      </div>
    </div>
    <div class="col-md-6">
      <div class="well info">
        <div class="row">
          <div class="col-md-6">
            <strong>{{t invoice}} #</strong>
            <span class="number">{{invoice_number}}</span>
          </div>
          <div class="col-md-6">
            <strong>{{t date}}:</strong>
            <span class="date">{{moment issued}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <address class="company">
        <strong>{{issuer.name}}</strong><br/>
        {{issuer.address}}<br/>
        {{issuer.city}}, {{issuer.postalCode}}
      </address>
    </div>
    <div class="col-md-6">
      <address class="customer">
        <strong>{{customer.name}}</strong><br/>
        {{customer.address}}<br/>
        {{customer.city}}, {{customer.postalCode}}
      </address>
    </div>
  </div>
  <table class="items table table-condensed">
    <thead>
      <tr>
        <th width="5%"></th>
        <th width="70%">{{ t invoice_item.attrs.description }}</th>
        <th width="10%">{{ t invoice_item.attrs.qty }}</th>
        <th width="15%" class="currency">{{ t invoice_item.attrs.price }}</th>
      </tr>
    </thead>
    <tbody>
      {{#each item in items}}
        <tr class="item">
          <td class="item-action"><button class="btn btn-danger btn-xs btn-remove-item" {{action 'removeItem' item}}>X</button></td>
          <td class="item-description">{{inPlaceField contentBinding="item.description"}}</td>
          <td class="item-qty">{{inPlaceField contentBinding="item.qty"}}</td>
          <td class="item-price currency">{{inPlaceField contentBinding="item.price" contentType="currency"}}</td>
        </tr>
      {{/each}}
      <tr>
        <td colspan="4">
          <button class='btn btn-success btn-xs btn-add-item'{{action 'addItem'}}>
            {{ t button.add_invoice_item }}
          </button>
        </td>
      </tr>
      <tr>
        <td class="total" colspan="3">{{ t invoice.attrs.sub_total }}</td>
        <td class="currency">{{money sub_total}}</td>
      </tr>
      <tr>
        <td class="total" colspan="3">{{ t invoice.attrs.tax_total }}({{inPlaceField contentBinding="tax"}}%)</td>
        <td class="currency">{{money tax_total}}</td>
      </tr>
      <tr>
        <td class="total" colspan="3">{{ t invoice.attrs.total }}</td>
        <td class="currency" >{{money total}}</td>
      </tr>
    </tbody>
  </table>
</div>
